<!DOCTYPE html>
{% load static %}

<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Bahrudin Bandic</title>
      <!-- Css -->
      <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" type="text/css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">   
   <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
   <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
      <link href="{% static 'css/lightbox.css'%}" rel="stylesheet" type="text/css" media="all" />
      <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">
      <link href="{% static 'css/main.css'%}" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/05323dab6d.js" crossorigin="anonymous"></script>
      <link href="//db.onlinewebfonts.com/c/3fc7fbbcf10d563f006158f0aa671ab9?family=Diverda+Sans+Com" rel="stylesheet" type="text/css"/>
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  
   </head>
   <body>
      <nav>
        <a href="portfolio.html" ><img class="logo" src="{% static 'img/BahroLogo.png' %}"></a>

      </nav>
       <section  id="portfolio">        
         <div class ="col-md-2">
         <div class="container">
            <center><button style="background-color: white; border-width: 0px;" class="list-toggle"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
               <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
               <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
             </svg> </button></center>
            
            <ul class="list-group list-group">
              <h4 class="gallery">Gallery</h4>
               {% for category in categories %}
               <li class="list-group-item">
                  <a href="{% url 'portfolio' %}?category={{category.name}}">
                    <p class="fontBahro">{{category.name}}</p> 
                  </a>
               </li>
               {% endfor %}
               
               <button class="about" id="myBtn">About</button>
               <h4 class="contact">Contact</h4>
               
               <ul class=" ikone">
                  <a href="https://www.facebook.com/bandiccc"target="_blank"><i class="fab fa-facebook-square fa-lg"></i></a> 
                  <a href="https://www.instagram.com/bandiccc/"target="_blank"><i class="fab fa-instagram fa-lg"></i></a> 
                  <a href="https://www.linkedin.com/search/results/all/?keywords=bahrudin%20bandic&origin=RICH_QUERY_SUGGESTION&position=0&searchId=8cf5e0c5-16ce-470c-939e-c18f9a08cc5e&sid=yIi"target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
               </ul>
            </ul>
  
         </div>
      </div>
      
            </ul>
            
            <div class="row">
                  <div class="col-sm-10">
                     
   
                     <!-- The Modal -->
                     <div id="myModal" class="modal">
                     <span class="close">×</span>
                     <img class="modal-content" id="img01">
                     <div id="caption"></div>
                     </div>                   
                  {% for post in photos%}
                  <div class="responsive ">
                     
                     <div class="gImg">
                        <img  class = "slika" src="{{post.image.url}}" class="rounded">
                        
                     </div>
                     </div>
                        {% empty %}
                        <h3>no photos</h3>
                        {% endfor %}
                     </ul>
                  </div>
               </div>
 
            </div>
         </div>
      </div>
      </section>
      <div id="mymodalno" class="modalno">

         <!-- modalno content -->
         <div class="modalni-sadrzaj">
           <span class="closing">&times;</span>
           <img class = "AboutSlika"src="{% static 'img/bahro profilna.jpg' %}"   style="width:200px">
           <div class = "AboutIkone">
           <ul class = "ulOverWrite">
            <a href="https://www.facebook.com/bandiccc"target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a> 
            <a class = "InstagramIcon"href="https://www.instagram.com/bandiccc/"target="_blank"><i class="fab fa-instagram fa-2x"></i></a> 
            <a href="https://www.linkedin.com/search/results/all/?keywords=bahrudin%20bandic&origin=RICH_QUERY_SUGGESTION&position=0&searchId=8cf5e0c5-16ce-470c-939e-c18f9a08cc5e&sid=yIi"target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
         </ul>
         </div>
           <div class="row margin-top-45">
             <div class="col-md-3">
                <h2>My story</h2>
             </div>
             <div class="col-md-9">
                <p>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula libero auctor dolor vulputate varius. Nunc ac nisl non felis finibus ultricies. Donec at porttitor lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin volutpat augue ex. In hac habitasse platea dictumst. Suspendisse at ante ligula. Nulla facilisis velit egestas massa imperdiet, id posuere turpis feugiat.
                </p>
   
             </div>
          </div>
          <div class="row margin-top-45">
             <div class="col-md-3">
                <h2>Services</h2>
             </div>
             <div class="col-md-9">
                <p>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula libero auctor dolor vulputate varius. Nunc ac nisl non felis finibus ultricies. Donec at porttitor lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin volutpat augue ex. In hac habitasse platea dictumst. Suspendisse at ante ligula. Nulla facilisis velit egestas massa imperdiet, id posuere turpis feugiat.
                </p>
             </div>
          </div>
          <div class="row margin-top-45">
             <div class="col-md-3">
                <h2>Clients</h2>
             </div>
             <div class="col-md-9">
                <div class="row">
                   <div class="col-md-4">
                      <ul class="list-unstyled">
                         <li>Bugatti</li>
                         <li>Vogue</li>
                         <li>Class</li>
                         <li>Hollister</li>
                      </ul>
                   </div>
                   <div class="col-md-4">
                      <ul class="list-unstyled">
                         <li>Zara</li>
                         <li>Coca Cola</li>
                         <li>Ferrari</li>
                         <li>Mercedes Benz</li>
                      </ul>
                   </div>
                   <div class="col-md-4">
                      <ul class="list-unstyled">
                         <li>Tiger</li>
                         <li>Capcom</li>
                         <li>Zara Home</li>
                         <li>Martini</li>
                      </ul>

                   </div>
                </div>
             </div>
          </div>
         </div>
       
       </div>
       
      <!-- script -->
      <script src="{%static 'js/jquery.js'%}"></script>
      <script src="{%static 'js/bootstrap.min.js'%}"></script>
      <script src="{%static 'js/bootstrap.js'%}"></script>
      <script src="{%static 'js/jquery.js'%}"></script>
      <script src="{%static 'js/jquery.shuffle.min.js'%}"></script>
      <script src="{%static 'js/lightbox-plus.jquery.js'%}"></script>
      <script src="{%static 'js/menu-color.js'%}"></script>
      <script src="{%static 'js/modernizr.js'%}"></script>
      <script src="{%static 'js/script.js'%}"></script>

      <script>
         $('.list-toggle').click(function(){
  $('.list-group').toggleClass('list-group-active');
});
      </script>
      <script>
         // Get the modal

var modal = document.getElementById('myModal');

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

document.getElementById("myModal").onclick=function(){
 modal.style.display = "none";
}
document.getElementById("img01").onclick=function(event){
 modal.style.display = "block";
 event.stopPropagation();
}

var images = document.getElementsByClassName('slika');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
var i;
for (i = 0; i < images.length; i++) {
  images[i].onclick = function() {
    modal.style.display = "block";
    modalImg.src = this.src;
    modalImg.alt = this.alt;
    captionText.innerHTML = this.nextElementSibling.innerHTML;
  }
}
$(document).ready(function(){
$('#img01').click(function(e){
             
              //e.preventDefault();
              $(this).show();  
              e.stopPropagation();
                
            });

});
</script>

<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " mjesto";
    } else {
      x.className = "topnav";
    }
  }
  </script>
  <script>
   // Get the modalno
   var modalno = document.getElementById("mymodalno");
   
   // Get the button that opens the modalno
   var btn = document.getElementById("myBtn");
   
   // Get the <span> element that closings the modalno
   var span = document.getElementsByClassName("closing")[0];
   
   // When the user clicks the button, open the modalno 
   btn.onclick = function() {
     modalno.style.display = "block";
   }
   
   // When the user clicks on <span> (x), closing the modalno
   span.onclick = function() {
     modalno.style.display = "none";
   }
   
   // When the user clicks anywhere outside of the modalno, closing it
   window.onclick = function(event) {
     if (event.target == modalno) {
       modalno.style.display = "none";
     }
   }
   </script>
   </body>
</html>